.userList_cotainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 190px;
    gap: 15px;

}

.card {
    text-align: center;
    box-shadow: 6px 7px 4px -1px rgba(97, 77, 16, 1);
    width: 250px;
    height: 340px;
    background-color: rgba(235, 188, 33, 0.814);
    border-radius: 5px;
    cursor: pointer;
    animation-fill-mode: both;
    transition: all 0.5s;
    padding: 15px;
    padding-top: 5px;

}




img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h3 {
    padding-right: 10px;
    font-size: 18px;
    color: blanchedalmond;
    font-weight: 500;
}

p {
    display: block;
    padding-left: 10;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

button {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(39, 32, 11);
    color: wheat;
    transition: all 0.5s;

    cursor: pointer;
}

button:hover {
    background-color: red;
    color: wheat;
    border: none;
}